raw_data/
out/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.nc
*.zarr
*.parquet
*.RData
*.Rhistory
.Rproj.user/
*.Rproj
__pycache__/
*.pyc
output/*.pdf
output/*.png
output/*.svg
output/figures/
old_things_not_upload/
